.categoryPage {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4rem;
  

  // .categoryPageTitle {
  //   font-size: 2rem;
  //   margin-top: 3rem;
  // }
  .header {
    width: 100%;
    // max-width: 1200px;
    height: 20rem;
    padding: 4rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .overlay {
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.3;
        background-color: black;
      }
    }
    h1 {
      position: relative;
      font-size: 3rem;
      font-weight: 600;
      color: var(--white);
      z-index: inherit;
    }
  }

  .categoryGrid {
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem 3rem;
    align-content: center;
    justify-items: center;
    padding: 4rem 2rem;

    // .categoryCard {
    //   width: 100%;
    //   height: fit-content;

    //   .image {
    //     aspect-ratio: 1/1;
    //     overflow: hidden;

    //     img {
    //       height: 100%;
    //       width: 100%;
    //       object-fit: cover;
    //       transition: all 300ms ease;
    //     }
    //   }

    //   .title {
    //     width: 100%;
    //     padding: 0.5rem 0.25rem;

    //     h2 {
    //       font-size: 1.15rem;
    //       font-weight: 600;
    //       color: var(--tertiary);
    //     }
    //   }

    //   &:hover{
    //     .image{

    //       img {
    //         transform: scale(1.05);
    //       }
    //     }
    //   }
    // }
  }
}
