.productPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  header {
    width: 100%;
    max-width: 1100px;
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;

    .path {
      display: flex;
      gap: 0.65rem;
      align-items: center;
      color: var(--quaternary);

      svg {
        color: var(--secondary);
        font-size: 0.85rem;
      }

      span {
        color: var(--primary);
      }
    }

    h1 {
      color: var(--tertiary);
      font-size: 4.5rem;
      font-weight: 700;
      line-height: 1.2;
      padding: 1.5rem 0;
    }

    h3 {
      color: var(--tertiary);
      font-size: 0.9rem;
      font-weight: 400;
      line-height: 1.2;
      text-transform: uppercase;
      margin-bottom: 0.5rem;
    }

    .collection {
      display: flex;
      align-items: flex-end;

      h2 {
        color: var(--primary);
        font-size: 1.75rem;
        font-weight: 500;
        line-height: 1;
        margin-right: 1rem;
      }
      p {
        line-height: 1.3;
      }
    }
  }

  main {
    display: flex;
    width: 100%;
    max-width: 1100px;
    gap: 4rem;
    padding: 0 2rem;

    .galleryColumn {
      width: 55%;
      display: flex;
      flex-direction: column;
      // background-color: red;
    }

    .sideColumn {
      width: 45%;
      display: flex;
      flex-direction: column;
      gap: 0.75rem;

      .brand {
        text-transform: uppercase;
      }

      .title {
        font-size: 1.75rem;
        font-weight: 600;
      }

      .line {
        width: 100%;
        height: 0.05em;
        background-color: var(--secondary);
        border-radius: 5px;
        margin: 0.5rem 0;
      }

      .price {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin-top: 1rem;

        .row {
          display: flex;
          justify-content: space-between;

          h3 {
            font-size: 1.15rem;
            font-weight: 600;
          }

          .salePrice {
            color: red;
          }
        }
      }
    }
  }

  .productDetails {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 2rem 0;
    background-color: #dbdfd8;

    .productDetailsInner {
      width: 100%;
      max-width: 1100px;
      padding: 3rem 2rem;
      display: flex;
      grid-template-columns: repeat(3, 1fr);
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;

      .productDetailsGrid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: flex-start;
        margin-left: 2rem;
        gap: 0 2rem;

        .tag {
          display: flex;
          margin-bottom: 0.15rem;

          p {
            font-weight: 600;

            span {
              font-weight: 500 !important;
              text-transform: capitalize;
            }
          }
        }
      }

      h3 {
        color: var(--primary);
        font-size: 1.75rem;
        font-weight: 500;
        line-height: 1;
        margin-bottom: 1rem;
      }

      .productTabs {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-self: center;

        .tabsSection {
          width: 100%;

          .tabList {
            width: 100%;
            background-color: transparent;
            gap: 1rem;

            .tabTitle {
              background-color: transparent;
              box-shadow: none;
              font-size: 1.15rem;
              width: fit-content;
              position: relative;
              padding: 0;

              &::after {
                content: "";
                position: absolute;
                width: 100%;
                transform: scaleX(0);
                height: 0.075em;
                bottom: -2px;
                left: 0;
                background-color: var(--secondary);
                transform-origin: bottom right;
                transition: transform 300ms ease-out;
              }

              &:hover::after,
              &:focus::after,
              &[aria-selected="true"]::after {
                transform: scaleX(1);
                transform-origin: bottom left;
              }
            }
          }

          .tabContent {
            width: 100%;
            min-height: 7rem;
            margin-top: 2rem;
            // background-color: aliceblue;

            span {
              font-weight: 600;
            }

            ul {
              width: 600px;

              li {
                list-style: disc;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .productPage {
    header {
      padding: 2rem 1rem;
    }

    main {
      flex-direction: column;
      gap: 2rem;
      padding: 0 1rem;

      .galleryColumn {
        width: 100%;
      }

      .sideColumn {
        width: 100%;
      }
    }

    .productDetails {
      .productDetailsInner {
        padding: 3rem 1rem;

        .productDetailsGrid {
          margin-left: 0;
          // grid-template-columns: 1fr;
        }
      }
    }
  }

  @media screen and (max-width: 600px) {
    .productPage {
      .productDetails {
        .productDetailsInner {
          padding: 2rem 1rem;
          .productDetailsGrid {
            grid-template-columns: 1fr;
          }
        }
      }
    }
  }
}
