.productImageComponent {
  width: 100%;
  height: 25rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .swiperSlide {
    text-align: center;
    font-size: 18px;
    background: #d6d6d6;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      cursor: pointer; /* Added for full screen functionality */
    }
  }

  .swiper-pagination-bullet {
    width: 2rem;
    height: 4px;
    text-align: center;
    border-radius: 2px;
    color: #000;
    opacity: 1;
    background: rgba(255, 255, 255, 0.5);
  }

  .swiper-pagination-bullet-active {
    color: #fff;
    background: var(--secondary);
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: var(--secondary);
  }
}

.productImageThumbComponent {
  width: 100%;
  height: 7rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .swiperSlide {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      cursor: pointer; /* Added for full screen functionality */
    }
  }
}

.clickableImage {
  cursor: pointer;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  .close {
    position: absolute;
    top: 5%;
    right: 5%;
    width: fit-content;
    z-index: inherit;
    color: white;
    cursor: pointer;
    font-size: 2rem;
  }
}

.modalContent {
  position: relative;
  width: 80%;
  height: 80%;
}

.fullScreenSwiper {
  width: 100%;
  height: 100%;

  .swiper-button-prev,
  .swiper-button-next {
    color: var(--white);
  }

  .swiperSlide {
    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }
}

@media screen and (max-width: 700px) {
  .productImageComponent {
    height: 20rem;
  }
}

@media screen and (max-width: 500px) {
  .productImageComponent {
    height: 16rem;
  }

  .productImageThumbComponent{
    height: 5rem;
  }

  .modalContent{
    width: 90%;
  }
}
