footer {
  width: 100%;
  background-color: var(--quaternary);
  min-height: 20rem;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  .footer{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding:  2rem;

    .footerColumn {
      display: flex;
      flex-direction: column;

      .links {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .copy {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 2rem;
    background-color: antiquewhite;
    padding: 0.25rem 1rem;
  }
}