.menuOverlay {
  display: none;
}

@media screen and (max-width: 800px) {
  .menuOverlay {
    height: 100vh;
    width: 100vw;
    background-color: white;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99;
    transition: top 1s cubic-bezier(0.16, 1, 0.3, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    padding: 4rem 2rem;

    .menuLink {
      color: var(--primary);
      font-size: 1.5rem;
      // text-transform: uppercase;
      font-weight: 300;
      display: flex;
      // align-items: flex-end;
      justify-content: space-between;
      width: fit-content;
      // width: 100%;
      // max-width: 20rem;
      padding: 0.25rem 0;
      line-height: 1.2;
      position: relative;
      text-decoration: none;
      text-align: center;

      span {
        font-weight: 400;
      }

      h3 {
        font-weight: 400;
        width: 10rem;
        // color: #666;
        color: var(--primary);
      }

      img {
        height: 1.75rem;
        width: auto;
        // margin: auto 0;
        margin-top: 0.25rem;
      }

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 1px;
        bottom: -2px;
        left: 0;
        background-color: var(--primary);
        transform-origin: bottom right;
        transition: transform 300ms ease-out;
      }

      &:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }

    .academyLink {
      padding: 0.25rem 0;
      height: 2.25rem;
      width: fit-content;
      display: flex;
      align-items: center;
      // justify-content: center;

      h3 {
        font-size: 1.5rem;
        font-weight: 500;
        width: 10rem;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .menuOverlay {
    justify-content: center;
    padding: calc(6rem + 15%) 4rem;
  }
}
